.product-container{
    padding:4rem 0;
}
.full-img{
    width:100%;
    border-radius: var(--radius);
}
.product-info-title{
    text-transform: uppercase;
    letter-spacing: var(--spacing-2);
    color:var(--clr-dark-grey);
}
.product-info-category{
    padding:0.5rem 0;
    letter-spacing: var(--spacing);
    color:var(--clr-grey-mid);
    text-transform: capitalize;
}
.product-info-description{
    padding:0.5rem 0;
    letter-spacing: var(--spacing);
    color:var(--clr-grey-mid);
}
.product-info-price{
    padding:0.5rem 0;
    font-weight: 600;
    letter-spacing: var(--spacing);
    color:var(--clr-dark-grey);
}
.product-add{
    letter-spacing: var(--spacing);
    padding:0.2rem 0.5rem;
    text-transform: uppercase;
    border: none;
    outline: none;
    background: var(--clr-yellow);
    color:#ffffff;
    font-weight: 500;
    border-radius: var(--radius);
}
.product-add:hover{
    background: var(--clr-light-grey);
    color:var(--clr-dark-grey);
}
.product-add:focus{
    outline: none;
    border: none;
}
